.demo {
    max-width: 100%;
    height: auto;
}

.video-wrap {
    position: relative;
    padding-bottom: 55%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
