body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

.box {
    color: #fff;
    padding: 1em;
    text-align: center;
    background-color: #efefef;
}

.tweets {
    background-color: #A2DED0;
}

.replies {
    background-color: #F4D03F;
}

.search {
    background-color: #6C7A89;
}

.messages {
    background-color: #59ABE3;
}

/* Our Grid Code */
.app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}