 p.text {
     float: left;
     width: 60%;
 }

 div.img-wrap {
     float: right;
     width: 40%;
 }

  img.responsive {
      max-width: 100%;
      height: auto;
  }

  /* The responsive property of the image CSS forces it to take 100 percent of its parent element. When the parent element's width changes, the image changes to fill in that width. The height: auto property acts to preserve the aspect ratio of the image. */