body {
    background-color: antiquewhite;
}

.grid-container {
    display: grid;
    background-color: blue;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 400px;
    /* align-content: center; */
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
}