.grid-container {
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 80px 200px auto 30px;
    /*            row first , row second   */
    grid-template-rows: 80px 200px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}